---
layout: default
---
<div class="changelog-index">
  <h1>{{ page.title | default: "Changelog" }}</h1>

  {{ content }}

  <ul class="changelog-list">
    {% for post in site.posts %}
    <li class="changelog-entry">
      <article>
        <header>
          <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          <div class="meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
            {% if post.version %}<span class="version">Version {{ post.version }}</span>{% endif %}
          </div>
        </header>
        {% if post.excerpt %}
        <p class="excerpt">{{ post.excerpt | strip_html | truncate: 200 }}</p>
        {% endif %}
        <a href="{{ post.url | relative_url }}" class="read-more">Read full changelog</a>
      </article>
    </li>
    {% endfor %}
  </ul>
</div>
